<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>281860481020-amcsa84om8lsdn4e2oa5boc2sdj4013p.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.281860481020-amcsa84om8lsdn4e2oa5boc2sdj4013p</string>
	<key>API_KEY</key>
	<string>AIzaSyABigLJrjd4ar-HkotmIH0tP-iBG3Xenog</string>
	<key>GCM_SENDER_ID</key>
	<string>281860481020</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.AUSTINCODE.BRED</string>
	<key>PROJECT_ID</key>
	<string>bred-e8d96</string>
	<key>STORAGE_BUCKET</key>
	<string>bred-e8d96.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:281860481020:ios:a44fe3abb04f0992</string>
	<key>DATABASE_URL</key>
	<string>https://bred-e8d96.firebaseio.com</string>
</dict>
</plist>